---
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TechRAMEN 2026 Conference</title>
    <style>
      body {
        padding: 2rem;
      }
      h1 {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 1em;
      }
      a {
        color: #0066cc;
        text-decoration: underline;
      }
      a:hover {
        color: #0052a3;
      }
    </style>
  </head>
  <body>
    <h1>TechRAMEN 2026 Conference</h1>

    <p>date: xx, November, 2026</p>
    <p>location: Furano, Hokkaido, Japan</p>
    <p>
      details: coming soon...
    </p>

    <br>
    <a href="../2024/">2024</a>
    <br>
    <a href="../2025/">2025</a>
  </body>
</html>
