<section class="overflow-hidden relative ">
  <div class="flex justify-center pt-20 px-20 mt-20">
    <img src="logo.svg" alt="logo" class="w-1/2 h-auto">
  </div>
  <div>
    <h2 class="text-2xl tracking-tighter font-normal text-gray-400 text-center mt-10">
      Technology Roundtable on the Asahikawa <span class="block"
        >for Maker and ENgineer.</span
      >
    </h2>
  </div>

  <div class="px-8 md:px-12 py-24 max-w-4xl mx-auto relative" id="abstract">
    <div>
      <p class="text-2xl mt-12 tracking-tighter font-normal text-black text-center">
        北海道旭川市で、Engineer と Makers のためのカンファレンスを開催します。
      </p>
    </div>
  </div>
</section>
