<section class="overflow-hidden relative ">
  <div class="flex justify-center pt-20 px-20 mt-20">
    <img src="logo.svg" alt="logo" class="w-full md:w-3/4 lg:w-1/2 h-auto">
  </div>
  <div>
    <h2 class="text-2xl tracking-tighter font-normal text-gray-400 text-center mt-10">
      Technology Roundtable on the Asahikawa <span class="block"
        >for Maker and ENgineer.</span
      >
    </h2>
  </div>
  <div>
    <p class="text-2xl mt-12 tracking-tighter font-normal text-black text-center text-auto-phrase">
      上川地方に技術の知見を惜しみなく注ぐ，技術好きのための円卓会議
    </p>
  </div>

  <div class="px-8 md:px-12 py-24 max-w-5xl mx-auto relative" id="abstract">
    <div>
      <h2 class="text-5xl mt-12 tracking-tighter font-normal text-black text-center chivo-mono">
        TechRAMEN 2024 Conference
      </h2>
    </div>
    <dl class="mt-10 grid max-w-4xl grid-cols-1 gap-x-8 gap-y-8 text-center mx-auto">
      <div class="md:col-span-3 chivo-mono">
        <dt class="font-mono text-lg text-gray-600">Date</dt>
        <dd class="text-2xl font-semibold text-gray-900">2024/7/26(Fri) <span class="text-nowrap">16:00-20:00</span></dd>
        <dd class="text-2xl font-semibold text-gray-900">2024/7/27(Sat) <span class="text-nowrap">10:00-18:00</span></dd>
      </div>
      <div class="md:col-span-3 chivo-mono">
        <dt class="font-mono text-lg text-gray-600">Location</dt>
        <dd class="text-2xl font-semibold text-gray-900">旭川市<wbr /><span class="text-nowrap">大雪クリスタルホール</span></dd>
      </div>
    </dl>
  </div>
</section>
