---
---

<div class="flex justify-center py-8 gap-6 mt-8">
  <a href="https://fortee.jp/techramen-24-conf/ticket-shop/index/7dc02d97-6b89-4feb-8f07-5996ddaad79a" target="_blank" rel="noopener noreferrer" class="bg-black text-white font-bold py-4 px-8 w-48 rounded-full hover:bg-red-600 flex items-center justify-center transition duration-300 ease-in-out relative overflow-hidden">
    Buy Ticket
    <div class="absolute inset-0 rounded-full"></div>
  </a>

  <a href="https://note.com/tomio2480/m/m79c098975732" target="_blank" rel="noopener noreferrer" class="bg-black text-white font-bold py-4 px-8 w-48 rounded-full hover:bg-red-600 flex items-center justify-center transition duration-300 ease-in-out relative overflow-hidden">
    公式 note
    <div class="absolute inset-0 rounded-full"></div>
  </a>
</div>
