---
import personalsponsors from "../data/personal_sponsors.json";
---

<section class="scroll-mt-24" id="services">
  <div class="px-8 md:px-12 py-12 max-w-4xl mx-auto">
    <div class="col-span-full lg:col-span-2 w-full rounded-4xl h-full items-center inline-flex text-black">
      <h2 class="text-3xl tracking-tighter font-light">
        ラーメン応援団
      </h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-px mt-8">
      <div class="p-8 bg-white rounded-3xl">
        <div class="mb-4"> 
          <div class="flex flex-wrap">
            {personalsponsors.map((sponsor) => (
              <span class="mb-4 mr-4 relative group">
                <!-- TODO: twitterUrl無い人の対応が必要 -->
                <a href={sponsor.twitterUrl}>
                  <img src={"https://fortee.jp/" + sponsor.avatarUrl} class="rounded-full w-16 h-16"/>
                </a>
              <div class="absolute z-10 p-2 mb-2 text-sm text-white bg-black rounded-lg opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                {sponsor.userName}
              </div>
              </span>
            ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
