@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, sans-serif;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}