---
// Redirect to 2026 site
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url=/2026/">
    <title>Redirecting...</title>
    <script>
        window.location.href = "/2026/";
    </script>
</head>
<body>
    <p>リダイレクト中... もし自動的に移動しない場合は <a href="/2026/">こちら</a> をクリックしてください。</p>
</body>
</html>