---
// Redirect to 2025 site
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url=/2025/">
    <title>Redirecting...</title>
    <script>
        window.location.href = "/2025/";
    </script>
</head>
<body>
    <p>リダイレクト中... もし自動的に移動しない場合は <a href="/2025/">こちら</a> をクリックしてください。</p>
</body>
</html>