---
import BaseHead from "@/components/BaseHead.astro";
---

<html lang="ja" class="scroll-smooth selection:bg-black selection:text-white">
  <BaseHead />
  <body>
    <h1>TechRAMEN 2025 Conference</h1>

    <p>26 July, 2025</p>
    <p>Asahikawa, Hokkaido, Japan</p>
    <p>
      <a href="https://note.com/tomio2480/n/n824cca735490"
        >https://note.com/tomio2480/n/n824cca735490</a
      >
    </p>

    <a href="./2024/">2024</a>
  </body>
</html>
