---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro"
import Footer from "@/components/global/Footer.astro"
---

<html lang="ja" class="scroll-smooth selection:bg-primary selection:text-white">
  <head>
    <BaseHead />
    <script type="module" src="https://unpkg.com/ionicons@7.2.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.2.2/dist/ionicons/ionicons.js"></script>
  </head>
  <body class="bg-light flex flex-col min-h-screen relative">
    <Navigation/>
    <main class="flex-grow pt-16">
      <slot />
    </main>
    <Footer/>
  </body>
</html>
