---
import corporatesponsorsData from "../../data/2024/corporate_sponsors.json";
const corporatesponsors = corporatesponsorsData;

// 口数をカウントする
const uniqueCounts: { [key: string]: number } = {};
corporatesponsors.forEach((sponsor) => {
  if (uniqueCounts[sponsor.userName]) {
    uniqueCounts[sponsor.userName]++;
  } else {
    uniqueCounts[sponsor.userName] = 1;
  }
});

// 重複しているものを取り除く
const uniqueSponsors = corporatesponsors.filter(
  (sponsor, index, self) =>
    self.findIndex((s) => s.userName === sponsor.userName) === index
);
---

<section class="scroll-mt-24" id="services">
  <div class="px-8 md:px-12 py-12 max-w-4xl mx-auto">
    <div
      class="col-span-full lg:col-span-2 w-full rounded-4xl h-full items-center inline-flex text-black"
    >
      <h2 class="text-3xl tracking-tighter font-light">ラーメン応援法人団</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-px mt-8">
      <div class="p-8 bg-white rounded-3xl">
        <div class="mb-4">
          {
            uniqueSponsors.map((sponsor) => (
              <div class="flex flex-wrap">
                {Array.from({ length: uniqueCounts[sponsor.userName] }).map(
                  () => (
                    <span class="mb-4 mr-4 relative group">
                      <a href={sponsor.url}>
                        <img
                          src={sponsor.avatarUrl}
                          style={{
                            width: "100px",
                            height: "100px",
                            objectFit: "cover",
                          }}
                          alt={sponsor.userName}
                        />
                      </a>
                      <div class="absolute z-10 p-2 mb-2 text-sm text-white bg-black rounded-lg opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                        {sponsor.userName}
                      </div>
                    </span>
                  )
                )}
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
