---
---

<section class="scroll-mt-24" id="supports">
  <div class="px-8 md:px-12 py-12 max-w-4xl mx-auto">
    <div
      class="col-span-full lg:col-span-2 w-full rounded-4xl h-full items-center inline-flex text-black"
    >
      <h2 class="text-3xl tracking-tighter font-light">
        Supports
      </h2>
    </div>
    <div class="p-8 bg-white rounded-3xl mt-8">
      <div class="inline-flex items-center border-b w-full border-white/10">
        <p class="text-2xl text-black"><a href="https://note.com/tomio2480/n/n9280fae6ab29?magazine_key=m8fb20b0824ea" class="text-blue-500 hover:text-blue-700">支援していただける方はこちらをご覧ください。</a></p>
      </div>
    </div>
  </div>
</section>
