<footer class="overflow-hidden">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <nav class="flex flex-col lg:flex-row gap-8 justify-center">
      <p class="text-sm text-black">
        © 2024 TechRAMEN Conference All rights reserved
      </p>
    </nav>
  </div>
</footer>
