<footer class="overflow-hidden">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <nav class="flex flex-col lg:flex-row gap-8">
      <p class="text-sm text-black">
        © 2024 TechRAMENConf All rights reserved
      </p>
    </nav>
    <section class="gap-x-8 gap-y-6 mt-6">
      <div>
        <p class="text-sm text-zinc-500 lg:col-span-2">
          Minimal is not affiliated with Stripe, Breeew, Astro, or Tailwind
          Labs, nor is it endorsed or sponsored by them. Designed and built by
          <a
            href="https://michaelandreuzza.com/"
            class="text-sm text-black hover:text-blue-300"
            >Michael Andreuzza</a
          >, this website was crafted using Astro & Tailwind CSS. Crafted in
          Åland Islands, Finland.
        </p>
      </div>
    </section>
  </div>
</footer>
