<div class="fixed top-0 inset-x-0 z-50 chivo-mono">
  <div class="w-full mx-auto">
    <div class="w-full mx-auto">
      <div
        x-data="{ open: false }"
        class="relative flex flex-col w-full p-4 mx-auto bg-dark text-white md:items-center md:justify-between md:flex-row"
      >
        <div
          class="flex flex-row items-center justify-between md:justify-start"
        >
          <a
            class="text-white hover:text-white/70 gap-4 items-center tracking-tighter inline-flex ml-2 text-xl font-kikai"
            href="/" title="link to main page"
          >
          TechRAMEN Conference
          </a><button
            @click="open = !open"
            class="inline-flex items-center justify-center p-2 text-white hover:text-primary focus:outline-none focus:text-white md:hidden"
            ><svg
              class="w-6 h-6"
              stroke="currentColor"
              fill="none"
              viewBox="0 0 24 24"
              ><path
                :class="{'hidden': open, 'inline-flex': !open }"
                class="inline-flex"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"></path><path
                :class="{'hidden': !open, 'inline-flex': open }"
                class="hidden"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"></path></svg
            ></button
          >
        </div><nav
          :class="{'flex': open, 'hidden': !open}"
          class="flex-col flex-grow hidden py-12 md:py-0 md:flex md:items-end justify-center md:flex-row"
        >
          <ul
            class="space-y-2 list-none text-sm text-white md:space-y-0 md:ml-auto items-center md:inline-flex justify-center text-center md:text-left gap-6"
          >
            <li>
              <a href="#abstract" class="hover:text-primary shrink-0"> About</a>
            </li>
            <li>
              <a href="#speakers" class="hover:text-primary shrink-0"> Speakers</a>
            </li><li>
              <a href="#supports" class="hover:text-primary shrink-0"> Supports</a>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
